
body {
    font-family: 'Roboto', sans-serif;
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    align-items: center;
    background-color: #1F2937;
}

 .header-links {
    display: flex;
    gap: 15px;
    font-size: 18px;
    color: #E5E7EB;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
}

a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  a:active {
    text-decoration: underline;
  }

  .section-two {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    background-color: #1F2937;
    color: #F9FAF8;
    gap: 50px;
  }

  h3.hero-text{
    font-size: 48px;
    font-weight: 800;
  }

  button {
    background-color:#3882F6;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 10%;
  }

  p.hero-subtext {
    color: #E5E7EB;
    font-size: 18px;
  }

  img.no-image{
    color: #E5E7EB;
    background: gray;
    font-size: 18px;
    padding: 60px;
    width: 700px;
    height: 100px;
    
  }

  .section-two-text{
    
  }
 