
body {
    font-family: 'Roboto', sans-serif;
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    align-items: center;
    background-color: #1F2937;
}

 .header-links {
    display: flex;
    gap: 15px;
    font-size: 18px;
    color: #E5E7EB;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
}

a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  a:active {
    text-decoration: underline;
  }

  .section-two {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #1F2937;
    color: #F9FAF8;
    gap: 50px;
  }

  .hero-text{
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 0; 
  }

  button {
    background-color:#3882F6;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 10%;
  }

  p.hero-subtext {
    color: #E5E7EB;
    font-size: 18px;
  }

  img.no-image{
    color: #E5E7EB;
    background: gray;
    font-size: 18px;
    padding: 60px;
    width: 700px;
    height: 100px;
    
  }

  .hero-subtext {
    margin: 0 0 10 0;
  }

 
.section-three{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
 
.no-image-sec2 {
  border-style: solid;
  padding: 50px;
  border-color: #3882F6;
  border-radius: 10%;
  height: 50px;
  width: 50px;
  color: #E5E7EB;
}

.info-header-text{
  font-size: 36px;
  color:#1F2937;
  font-weight: bolder;
  margin-bottom: 30px;
}

.img-group {
  display: flex;
  gap: 30px;
}

.img-and-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
